*{

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 3rem;
    background-color: pink !important;
    font-family: 'Courier New', Courier, monospace;
}

#test{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p .red{
    color: red;
}

[type=text]{
    width: 100%;
    height: 54px;
}

[type=password][yasin~="special"]{
    height: 90px;
}

.dNone, .d-none, .dnone{
    display: none;
}

.hidden{
    visibility: hidden;
}

.margin10, .margin-10{
    margin: 10px;
}

.card {
    border-radius: 10px;
}

.shadow {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
}
.redBg {
    background-color: red;
}
.padding10{
    padding: 10px;
}

.card.shadow{
    background-color: white;
}

.card:hover{
    /* transform: scale(1.1); */
}

.card p::after, .card p:hover::before{
    content: '';
    color: red;
}

ul li:last-child{
    background: green
}

ul li:nth-child(3n){
    background: red
}

p::first-letter{
    font-size: 3em;
}

p::first-line{
    font-size: 1.5rem;
}

a:visited{
    color: red;
}

ul :not(li:nth-child(3n)){
    background-color: blue;
}